/* Defines reusable design values such as colours, fonts,
   spacing, border radiuses, shadows, and light/dark themes. */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  color-scheme: light; 

  --color-background: #F7FAFC;
  --color-text: #002c5f;
  --color-logo: #0f94ff;
  --color-primary: #378ADD;
  --color-primary-subtle: #E6F1FB;
  --color-accent: #D85A30;
  --color-header: #b4e1ff; 

  --logo-font-family: "Fraunces", serif;                           /* Display, Logo */
  --font-body: "IBM Plex Sans", sans-serif;                        /* General */
  --font-utility: "IBM Plex Mono", system-ui, monospace;           /* Function-like*/
  --shadow-color: rgb(0 0 0 / 14%);
}

[data-theme="dark"] {
  --color-background: #0B1420;
  --color-text: #E8F1F8;
  --color-logo: #7FB8EA;
  --color-primary: #7FB8EA;
  --color-primary-subtle: #0C447C;
  --color-accent: #FF8B5E;
  --color-header: #10253a;
  --shadow-color: rgb(0 0 0 / 35%);
}

@font-face {
    font-family: "My Comic Font";
    src: url("../assets/fonts/comic-font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
